'scopeName': 'source.piecewise'
'name': 'Piecewise'
'fileTypes': ['pcws']

'foldingStartMarker': '{\\s*$'
'foldingStopMarker': '^\\s*}'

'patterns': [
    {
        'begin': '#'
        'end': '\\n'
        'name': 'comment.line.number-sign.piecewise'
    }

    {
        'match': '=>|=|\\+='
        'name': 'keyword.operator.piecewise'
    }

    {
        'match': '\\@[A-Za-z0-9]+'
        'name': 'support.function.piecewise'
    }

    {
        'match': '__[A-Za-z0-9]+'
        'name': 'support.function.piecewise'
    }
]
